@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");

:root {
  --main-color: rgb(26, 125, 84);
  --text-color: rgb(54, 54, 54);
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  padding: 0.75rem 1rem;
}

header img {
  border-radius: 50%;
  height: 3rem;
}

header i {
  color: white;
  font-size: 1.7rem;
}

nav {
  display: none;
}

/* SECTIONS */

section {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid var(--main-color);
}

/* INTRO */

.container {
  margin: 0 2rem;
}

.intro {
  align-items: center;

  text-align: center;
  gap: 1rem;
}

.intro img {
  border: 5px solid var(--main-color);
  border-radius: 50%;
}

.intro .main-text {
  max-width: 20rem;
}

.intro h1 span {
  color: var(--main-color);
}

/* LANGUAGES */

.languages {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.language {
  height: 1rem;
  text-align: left;
  color: white;
  font-weight: 700;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
}

#html {
  background-color: rgb(24, 186, 227);
  width: 90%;
}

#css {
  background-color: rgb(176, 6, 97);
  width: 70%;
}

#js {
  background-color: rgb(236, 143, 37);
  width: 60%;
}

#python {
  background-color: rgb(6, 176, 46);
  width: 60%;
}

/* FOOTER */

footer ul {
  display: flex;
}

footer ul i {
  color: var(--main-color);
}
