@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");

:root {
  --main-color: rgb(26, 125, 84);
  --secondary-color: rgb(40, 183, 135);
  --text-color: rgb(54, 54, 54);
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 1.3rem;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  padding: 0.75rem 1rem;
}

header img {
  border-radius: 50%;
  height: 3rem;
}

header button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

header i {
  color: white;
  font-size: 1.7rem;
}

nav {
  display: none;
}

nav ul {
  color: white;
  font-weight: 500;
  gap: 1rem;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
}

nav ul li:hover {
  cursor: pointer;
  color: var(--text-color);
}

/* SECTIONS */

section {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid var(--main-color);
}

/* INTRO */

.container {
  margin: 0 2rem;
}

.intro {
  align-items: center;
  text-align: center;
}

.intro img {
  border: 5px solid var(--main-color);
  border-radius: 50%;
  margin-bottom: 2rem;
}

.intro .main-text {
  max-width: 20rem;
}

.intro h1 span {
  color: var(--main-color);
}

/* LANGUAGES */

.languages {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.language {
  height: 1rem;
  text-align: left;
  color: white;
  font-weight: 700;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  margin-bottom: 0.5rem;
}

#html {
  background-color: rgb(24, 186, 227);
  animation: fillbar90 2s forwards;
}

#css {
  background-color: rgb(176, 6, 97);
  animation: fillbar70 2s forwards;
}

#js {
  background-color: rgb(236, 143, 37);
  animation: fillbar60 2s forwards;
}

#python {
  background-color: rgb(6, 176, 46);
  animation: fillbar60 2s forwards;
}

@keyframes fillbar90 {
  from {
    width: 0%;
  }

  to {
    width: 90%;
  }
}

@keyframes fillbar70 {
  from {
    width: 0%;
  }

  to {
    width: 70%;
  }
}

@keyframes fillbar60 {
  from {
    width: 0%;
  }

  to {
    width: 60%;
  }
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form input {
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid var(--text-color);
}

form textarea {
  height: 8rem;
  padding: 1rem;
  background: none;
  border: 1px solid var(--text-color);
}

form button {
  margin: 1rem 2rem 0 2rem;
  padding: 0.5rem 0;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  color: white;
  background-color: var(--main-color);
}

form button:active {
  background-color: var(--secondary-color);
}

/* FOOTER */

footer {
  margin-bottom: 2rem;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  font-size: 1.5rem;
}

footer ul i {
  color: var(--main-color);
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
  section {
    width: 500px;
    margin: 2rem auto;
  }

  header button {
    display: none;
  }

  nav {
    display: block;
  }

  nav ul {
    display: flex;
  }
}

@media (min-width: 992px) {
  section {
    width: 700px;
    margin: 2rem auto;
  }

  .intro {
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding: 8rem 0;
  }

  .skills,
  .contact {
    flex-direction: row;
    padding-bottom: 8rem;
  }

  .skills h2,
  .languages,
  .contact h2,
  .contact form {
    width: 100%;
  }

  .contact form {
    font-size: 0.9rem;
  }
}

@media (min-width: 1200px) {
}
